<h3>{{ caption }}</h3>
<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-danger" type="button" id="button-addon1" (click)="changeValue(-5)">
        <i class="mdi mdi-minus"></i>
    </button>
  </span>
    <input #valuePercent type="number" class="form-control" placeholder="" aria-label="Example text with button addon"
           aria-describedby="button-addon1" [value]="percent" name="percent" [(ngModel)]="percent" min="0" max="100"
           (ngModelChange)="onChange( $event )">
    <span class="input-group-btn">
    <button class="btn btn-success" type="button" id="button-addon2" (click)="changeValue(5)">
        <i class="mdi mdi-plus"></i>
    </button>
</span>
</div>
