<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li><a (click)="changeColor('default', $event)" data-color="default" class="selector default-theme">&nbsp;</a></li>
                        <li><a (click)="changeColor('green', $event)" data-color="green" class="selector green-theme">&nbsp;</a></li>
                        <li><a (click)="changeColor('red', $event)" data-color="red" class="selector red-theme">&nbsp;</a></li>
                        <li><a (click)="changeColor('blue', $event)" data-color="blue" class="selector blue-theme">&nbsp;</a></li>
                        <li><a (click)="changeColor('purple', $event)" data-color="purple" class="selector purple-theme">&nbsp;</a></li>
                        <li><a (click)="changeColor('megna', $event)" data-color="megna" class="selector megna-theme">&nbsp;</a></li>

                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li><a (click)="changeColor('default-dark', $event)" data-color="default-dark" class="selector default-dark-theme">&nbsp;</a></li>
                        <li><a (click)="changeColor('green-dark', $event)" data-color="green-dark" class="selector green-dark-theme">&nbsp;</a></li>
                        <li><a (click)="changeColor('red-dark', $event)" data-color="red-dark" class="selector red-dark-theme">&nbsp;</a></li>
                        <li><a (click)="changeColor('blue-dark', $event)" data-color="blue-dark" class="selector blue-dark-theme">&nbsp;</a></li>
                        <li><a (click)="changeColor('purple-dark', $event)" data-color="purple-dark" class="selector purple-dark-theme">&nbsp;</a></li>
                        <li><a (click)="changeColor('megna-dark', $event)" data-color="megna-dark" class="selector megna-dark-theme">&nbsp;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
